%header
  %h1= "#{@program.title.titleize} traction graph"

%section#traction-graph

%hr

%section
  %header
    %h2 KPIs

  %section.row.kpis
    = render partial: 'shared/panel', collection: @kpis

%hr

= render partial: 'projects/modal'
