.btn.wide {
  width: 100%;
}

.modal {
  .form-inline {
    .input-group, input, .input-group-btn button {
      width: 100%;
    }
  }
}

.alert-alert {
  @extend .alert-danger;
}

.alert-notice {
  @extend .alert-success;
}

.homejumbo {
  margin-top: 30px;
}
