#show-program {

  h1 {
    margin-top: 0;
  }

  #date-range {
    .form-control {
      @extend a;
    }
    .input-group, b {
      margin-left: 20px;
    }
    b {
      display: block;
    }
  }

  .dropdown.title, #focus-metric, #focus-metric b, #focus-metric .dropdown.metric {
    display: inline-block;
  }
}

.program-team {
  &.invite {
    .panel-body {
      height: 110px;
    }
  }

  b {
    display: block;
  }
  .names {
    margin-top: 7.5px;
  }
}
