.projects-focus.off {
  display: none;
}

.change-projects-view {
  cursor: pointer;
}

.panel-projects {
  height: 510px;

  .delete {
    float: right;
  }
}

.new-project {
  margin-bottom: 179px;
}


.dropdown-projects {
  display: inline;

  a {
    cursor: pointer;
  }
}
