.projects-focus {
  &.off {
    display: none;
  }
  a.list-group-item {
    cursor: pointer;
  }
}

.change-projects-view {
  cursor: pointer;
}

.panel-projects {
  height: 510px;

  .delete {
    float: right;
  }
}

.new-project {
  margin-bottom: 179px;
}

.dropdown-projects {
  display: inline;

  a {
    cursor: pointer;
  }
}

.radio-buttons {
  span > label {
    padding: 5px;
  }
  .collection_radio_buttons {
    margin: 5px;
  }
}
