%article.col-sm-4.project
  .panel.panel-default
    %header.panel-heading
      %h3.panel-title= panel.title
      .pull-right.dropdown.settings
        %span{class: 'glyphicon glyphicon-cog', 'aria-hidden' => true, 'data-toggle' => 'modal', 'data-target' => '#settingsModal'}
    .panel-body
      .col-xs-7
        %p.stat 32%
      .col-xs-5
        %small.change.positive
          2%
          %span.details daily change
    - if panel.class.to_s == 'Program'
      .panel-footer
        = link_to 'View program', program_path(panel), class: 'btn wide btn-default'

.modal.fade#settingsModal
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button{type: 'button', class: 'close', 'data-dismiss' => 'modal', 'aria-label' => 'Close'}
          %span{'aria-hidden' => 'true'} &times;
        %h4.modal-title Settings
      .modal-body
        %form
          .form-group
            %label Title
            %input{type: 'text', class: 'form-control', placeholder: 'Current title'}
          .form-group
            %label Upload data
            %button.btn.btn-default{href: '#'} Select CSV file
        %hr
        = link_to 'Delete permanantly', panel,  method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
      .modal-footer
        %button{type: 'button', class: 'btn btn-default', 'data-dismiss' => 'modal'} Close
