%nav.navbar.navbar-default
  .navbar-header
    %a{ href: '/', class: 'navbar-brand' } DataCroc

  %ul.nav.navbar-nav
    %li
      %a{ href: '/programs' } Programs
  %ul.nav.navbar-nav.navbar-right
    %li
      %a{ href: '#' } Profile
    %li
      = link_to 'Logout', destroy_user_session_path, method: :delete
